@use "src/theme" as *;

.root {
  position: relative;
  // background-color: #dddce1;
  padding: 0;
}

.container {
  @include flexColumn();
  padding: 0;
}

.banner {
  @include flexRow($alignY: center);
  width: 100%;
  @media screen and (max-width: 852px) {
    flex-direction: column-reverse;
  }

  img {
    object-fit: cover;
    position: absolute;
    right: 0;
    width: 50%;
    @media screen and (max-width: 852px) {
      height: auto;
      position: static;
      width: 100%;
    }
  }

  .imgdiv {
    height: 336px;
    @media screen and (max-width: 852px) {
      display: none;
    }
  }

  .heading {
    @include flexColumn();
    padding: 0 20px;
    padding-right: 100px;
    width: 50%;
    @media screen and (max-width: 1023px) {
      padding-right: 20px;
    }
    @media screen and (max-width: 852px) {
      padding: 20px;
      width: 100%;
    }

    button {
      margin-top: 20px;
    }
  }
}
