@use "src/theme" as *;

.content {
  align-items: center;
  padding-bottom: 40px;
  padding-top: 60px;
  text-align: center;

  p {
    font-size: $fontHeading5;
    margin-top: 32px;
    text-align: left;
    white-space: pre-line;
  }
}

.top {
  @include flexRow($alignY: center, $alignX: space-between);
  max-width: 1024px;
  width: 100%;
}

.text {
  @include flexColumn();
}

.buttons {
  @include flexRow();
  font-size: $fontBody;
  margin: 32px auto;

  button {
    margin: 12px;
  }
}
