@font-face {
  font-family: "Optum Sans";
  font-weight: 500;
  font-display: swap;
  src: local("myfont"), url("../assets/OptumSans-Regular.woff2") format("woff");
}

@font-face {
  font-family: "Optum Sans";
  font-weight: 700;
  font-display: swap;
  src: local("myfont"), url("../assets/OptumSans-Bold.woff2") format("woff");
}

@font-face {
  font-family: "Optum Sans";
  font-weight: 900;
  font-display: swap;
  src: local("myfont"), url("../assets/OptumSans-XBold.woff2") format("woff");
}

//App Shell
.app {
  background-color: white;
  display: flex;
  max-width: 100vw;
  cursor: default;
}

html {
  scroll-behavior: smooth;
}

//Body
body {
  color: #5a5a5a;
  margin: 0 auto;
  padding: 0;
  font-family: "Optum Sans", "Arial", sans-serif;
  font-size: 16px;
  max-width: 1440px;
  min-width: 320px;
  @media screen and (min-width: 1440px) {
    box-shadow: 1px 0 #d0d0ce, -1px 0 #d0d0ce;
    background-color: #efefee;
  }
}

//Global classes
h1,
h2,
h3,
p {
  margin: 0;
}

p {
  color: #5a5a5a;
}

a {
  text-decoration: none;
  cursor: default;

  &:focus-visible {
    outline: 1px rgba(black, 0.4) dashed;
  }
}

img {
  flex-shrink: 0;
}
