@use "src/theme" as *;

.content {
  @include flexRow($alignX: space-between, $alignY: stretch);
}

.item {
  @include flexColumn();
  background-color: $white;
  box-shadow: 0 3px 6px rgba(#000000, 0.16);
  color: $darkBlue;
  font-size: $fontHeading4;
  padding: 40px 40px 72px;
  position: relative;
  width: calc(50% - 24px);

  a {
    position: absolute;
    bottom: 32px;
  }
}

.left {
  white-space: pre-line;
  img {
    margin: 12px auto;
  }
}

.right {
  background-color: $sky;
  img {
    margin: 20px 0;
  }
}
