@use "src/theme" as *;

.content {
  @include flexRow($alignX: space-between, $alignY: stretch);
}

.item {
  @include flexColumn($alignY: space-between);
  background-color: $sky;
  box-shadow: 0 3px 6px rgba(#000000, 0.16);
  color: $darkBlue;
  cursor: pointer;
  font-size: $fontHeading4;
  font-weight: 500;
  padding: 28px 32px;
  position: relative;
  width: calc(50% - 24px);
  transition: transform 0.2s ease-in-out;
  @media screen and (max-width: 900px) {
    margin-bottom: 32px;
    width: 100%;
  }
  @media screen and (max-width: 550px) {
    font-size: $fontHeading5;
    padding: 20px;
  }
  &:hover,
  &:focus {
    transform: translateY(-4px);
    label {
      color: $linkHover;
      text-decoration: underline;
    }
  }

  label {
    color: $link;
    font-weight: 700;
    margin-top: 12px;
    width: 100%;
    cursor: pointer;
  }
}

.left {
  background-color: $white;
  white-space: pre-line;
  img {
    margin: 12px auto;
  }
}

.right img {
  margin: 20px 0;
  width: 100%;
  height: auto;
}

.upper {
  @include flexColumn();
}

.lower {
  @include flexRow($alignY: center, $alignX: space-between);
  @media screen and (max-width: 768px) {
    margin-top: 12px;
  }

  .portrait {
    @include flexColumn($alignX: center);
    color: $darkGray;
    font-size: $fontLabel;
    text-align: center;
    width: 180px;
    @media screen and (max-width: 480px) {
      width: 100%;
    }
  }

  label {
    width: calc(100% - 220px);
    @media screen and (max-width: 480px) {
      width: 100%;
    }
  }
}
